.header-box {
  display: flex;
  justify-content: space-between;

  padding: 47px 34px 47px 80px;
}

.header-logo {
  font-family: Homemade Apple, cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 2.1666;

  color: #000000;
}

.header-list {
  display: flex;

  margin-left: 433px;

  & a {
    line-height: 1.2222;
    color: currentColor;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-item {
  &:not(:last-child) {
    margin-right: 31px;
  }

  &:focus,
  &:hover {
    color: rgba(247, 148, 30, 1);
  }
}

.header-btn {
  font-family: Gilroy;
  line-height: 1.2222;
  cursor: pointer;

  min-width: 140px;
  min-height: 43px;
  padding: 9px 14px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  color: rgba(247, 148, 30, 1);

  border: 1px solid rgba(247, 148, 30, 1);
  box-sizing: border-box;
  border-radius: 5px;

  &:focus,
  &:hover {
    background-color: #000000;
    color: rgba(247, 148, 30, 1);
    border-color: rgba(247, 148, 30, 1);
  }
}
